@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c6c0c2;
  border-radius: 10px;
}
